/appmobile/source/FundacionColonoApp/package-lock.json
/appmobile/source/FundacionColonoApp/plugins/browser.json
/appweb/source/.editorconfig
/appweb/source/.gitattributes
/appweb/source/artisan
/appweb/source/composer.lock
/appweb/source/public/web.config
/appweb/source/readme.md
